.cmr-introduction .container .header {
  height: 55px;
  /* background-color: skyblue; */
  line-height: 55px;
  background-color: #eee;
  border-left: 8px solid #999;
  padding-left: 10px;
  margin-top: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}
.cmr-introduction .container .header h2 {
  height: 100%;
  font-size: 29px;
  font-weight: normal;
}
.cmr-introduction .container .content {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  text-indent: 2em;
}
.cmr-introduction .container .content a {
  color: orangered;
}
.cmr-introduction .container .pic {
  width: 100%;
}
.cmr-introduction .container .pic img {
  width: 100%;
}
.cmr-introduction .container #code-block {
  background: #2d2d2d;
  color: #c9d1d9;
  font-family: Consolas;
  text-align: left;
  padding: 1em;
  padding-left: 0.8em;
  margin: 1em;
  border-radius: 5px;
  counter-reset: line;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}
