.cmr-title {
  height: 150px;
  background-color: #333;
  color: #dcdcdc;
  padding: 30px;
  box-sizing: border-box;
}
.cmr-title h1 {
  line-height: 60px;
}
.cmr-introduction {
  height: 180px;
}
.cmr-introduction .container {
  height: 100%;
}
.cmr-introduction .container .list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: skyblue; */
}
.cmr-introduction .container .list li {
  flex: 1;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
.cmr-introduction .container .list li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #666;
  border-radius: 5px;
}
.cmr-introduction .container .list li div h3 {
  margin-top: 9px;
  line-height: 30px;
  font-size: 28px;
  font-weight: normal;
  color: #dcdcdc;
}
.cmr-introduction .container .list li div p {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
.cmr-details {
  height: 325px;
}
.cmr-details .header {
  height: 115px;
  /* background-color: skyblue; */
  line-height: 115px;
}
.cmr-details .header h2 {
  height: 100%;
  font-size: 29px;
  font-weight: normal;
}
.cmr-details .header h2 span {
  font-size: 16px;
  color: #999;
  margin-left: 15px;
}
.cmr-details .header a {
  font-size: 20px;
}
.cmr-details .list {
  display: flex;
  height: 305px;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: skyblue; */
}
.cmr-details .list li {
  flex: 1;
  height: 100%;
  width: 304px;
  /* background-color: orange; */
  text-align: center;
}
.cmr-details .list li h3 {
  margin-top: 22px;
  line-height: 39px;
  font-size: 21px;
  font-weight: normal;
  color: #333;
}
.cmr-details .list li p {
  color: #999;
}
.cmr-resources {
  height: 325px;
}
.cmr-resources .container .header {
  height: 115px;
  /* background-color: skyblue; */
  line-height: 115px;
}
.cmr-resources .container .header h2 {
  height: 100%;
  font-size: 29px;
  font-weight: normal;
}
.cmr-resources .container .header h2 span {
  font-size: 16px;
  color: #999;
  margin-left: 15px;
}
.cmr-resources .container .list {
  display: flex;
  height: 305px;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: skyblue; */
}
.cmr-resources .container .list li {
  flex: 1;
  height: 100%;
  width: 304px;
  /* background-color: orange; */
  text-align: center;
}
.cmr-resources .container .list li .iconfont {
  height: 70px;
  font-size: 65px;
}
.cmr-resources .container .list li h3 {
  margin-top: 22px;
  line-height: 39px;
  font-size: 21px;
  font-weight: normal;
  color: #333;
}
.cmr-resources .container .list li p {
  color: #999;
}
